{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"jquery": true
	},
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"rules": {
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "double"],
		"one-var-declaration-per-line": ["error", "always"],
		"one-var": ["error", { "var": "always", "let": "never", "const": "never" }],
		"eslint array-element-newline": ["error", "consistent"],
		"spaced-comment": ["error", "always"],
		"key-spacing": [
			2,
			{
				"singleLine": {
					"beforeColon": true,
					"afterColon": true
				},
				"multiLine": {
					"beforeColon": true,
					"afterColon": true,
					"align": "colon"
				}
			}
		]
	}
}
